.singlegrid_body {
    background: linear-gradient(to bottom, #fafbff, #e0e4ff);
}

.container_racks {
    width: 100%;
    height: 80vh;
}

.container_columns {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    align-content: center;
}

.container_columns_portrait {
    grid-column-gap: 90px;
    grid-row-gap: 14px;
    padding: 0;
    padding-left: 4%;
    padding-right: 4%;
}

.container_columns_landscape {
    grid-column-gap: 14px;
    grid-row-gap: 90px;
    padding: 0;
    padding-top: 4%;
    padding-bottom: 4%;
}

.container_columns::-webkit-scrollbar {
    height: 15px;
    width: 15px;
    border: 0;
}

.container_columns::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 1);
}

.container_columns::-webkit-scrollbar-track {
    background-color: transparent;
}

.zoom_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -50px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.zoom_buttons {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    width: 29px;
    height: 29px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zoom_buttons:hover {
    background-color: #f2f2f2;
}

.zoom_buttons img {
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.delete_container {
    position: fixed;
    display: none;
    margin: 0 auto;
    padding: 0px;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 6px;
    background-color: rgba(189, 236, 182, 0.8);
    text-align: center;
    z-index: 5;
}

.confirm_container {
    display: flex;
    margin: 0 auto;
    padding: 0px;
    column-gap: 6px;
}

.confirm_buttons {
    display: none;
    margin: 10px auto;
    padding: 0px;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0.01, 1);
    border-radius: 6px;
    background-color: rgba(178, 218, 250, 0.8);
}

.selection_box {
    position: absolute;
    border: 2px solid rgba(0, 120, 215, 1);
    border-style: 2px double;
    border-color: #2196f3;
    border-radius: 2px;
    background-color: rgba(0, 120, 215, 0.2);
    pointer-events: none;
    display: none;
}

.container_areas {
    border: 1px solid black;
    height: 100%;
}

.parent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.parent div {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent div:hover {
    background-color: blue;
    color: white;
}

.div1 {
    grid-area: 1 / 1 / 2 / 3;
}

.div2 {
    grid-area: 1 / 3 / 2 / 4;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
}

.div5 {
    grid-area: 3 / 3 / 4 / 4;
}

.a-1,
.b-1 {
    background: white;
}

.a-2,
.b-2 {
    background-color: var(--chartGreen);
}

.a-3,
.b-3 {
    background-color: var(--chartYellow);
}

.a-4,
.b-4 {
    background-color: var(--chartGray);
}

.mods_portrait {
    display: block !important;
    border: 0;
    border-bottom: 1px solid;
    border-top: 1px dotted;
    height: 15px !important;
    width: 100px !important;
    border-radius: 0;
    background-color: transparent !important;
}

.mods_landscape {
    display: block !important;
    border: 0;
    border-right: 1px solid;
    border-left: 1px dotted;
    height: 100px !important;
    width: 15px !important;
    margin: 0;
    margin-top: -25px;
    border-radius: 0;
    background-color: transparent !important;
}

.chart_container {
    background: white;
    border: 1px solid #757575;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
}

.charts_container {
    display: flex;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.inputs_container {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.dropdown_item {
    cursor: pointer;
}

.chart_mechanical {
    cursor: pointer;
}

.chart_mechanical:hover {
    background: white;
}

.notes {
    background: white;
    border: 1px solid #757575;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    height: 100%;
}

.grid_notes {
    background: white;
    border: 1px solid #757575;
    border-radius: 10px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
}

.notes img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.simbology {
    display: flex;
}

.left_simbology {
    width: 20%;
    display: flex;
    align-items: center;
}

.left_simbology div {
    height: 50%;
    width: 100%;
}

.first_process {
    border: 1px solid black;
    background-color: white;
}

.second_process {
    background-color: var(--chartGreen);
}

.third_process {
    background-color: var(--chartYellow);
}

.fourth_process {
    background-color: var(--chartGray);
}

.right_simbology {
    width: 80%;
    text-align: left;
}

.right_simbology span {
    padding: 0 8px;
    font-weight: bold;
}

.filter_and_tools {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show_buttons {
    display: flex;
    gap: 8px;
}

.show_buttons button {
    width: 88px;
    height: 36px;
    background-color: white;
    border: none;
    border-radius: 6px;
}

.active {
    border: 1px solid #000 !important;
}

.chart_rack_info {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

.hidden {
    opacity: 0;
    display: none;
}

.squares_container {
    border-radius: 10px;
    padding: 8px;
    height: max-content;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
}

.container_labels {
    width: 100%;
    height: 30%;

    display: flex;
}

.left_labels {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 500;
    color: #fff;
}

.MC {
    background-color: orange;
}

.EL {
    background-color: #00a896;
}

.TE {
    background-color: #f90012a1;
}

.right_labels {
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-large;
    color: #000;
    font-weight: 500;
}

.information_container {
    display: flex;
    height: 70%;
}

.simbology_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    border-radius: 10px;
}

.simbology_container img {
    width: 50px;
    height: 40px;
    object-fit: contain;
}

.progress_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    border-radius: 10px;
}

.schedule_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    border-radius: 10px;
}

.dates {
    display: flex;
    gap: 8%;
    justify-content: center;
}

.title {
    font-weight: 600;
}

.percentage {
    font-size: 26px;
}

.dates p {
    padding: 6px !important;
    border-radius: 4px;
    border: 1px solid white;
}

.dates_active {
    background-color: white;
}

.stadistics {
    opacity: 1;
    transition: opacity 3.9s;
}

.minTT {
    border: 1px solid #00a896;
}

.st0 {
    fill:#4F4F4F;
    stroke:#FFFFFF;
    stroke-width:0.25;
    stroke-miterlimit:10;
}
.st0:hover {
    fill: #2196f3;
}