.torque_tube_container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.torque_tube {
    position: relative;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
}