@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}

h1, h2, h3, p {
    font-weight: normal;
    line-height: 1.5;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.17em;
}

h3 {
    font-size: 0.875em; 
}
